<div class="flex flex-col m-5 p-4 sm:p-8 bg-white dark:bg-gray-500 shadow sm:rounded-lg">
    <h1 id="help-title" class="font-semibold text-xl text-gray-800 dark:text-white leading-tight pb-4">How to use?</h1>
    <div class="helpContent flex flex-col gap-5 pt-5">
        <p>Select in the tabs above the scenario : <a class="text-blue-500 hover:underline"
            href="./adyen">Adyen</a> or <a class="text-blue-500 hover:underline"
            href="./stripe">Stripe</a> </p>

        <p>Here is the PSP documentation for PayPal integration : </p>
        <ul>
            <li>
                <p>Adyen : <a class="text-blue-500 hover:underline"
                        href="https://docs.adyen.com/payment-methods/paypal">https://docs.adyen.com/payment-methods/paypal</a></p>
            </li>
            <li>
                <p>Stripe : <a class="text-blue-500 hover:underline"
                        href="https://stripe.com/docs">https://stripe.com/docs</a></p>
            </li>
        </ul>
    </div>
</div>